name: Test workflow

on: push
jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.value }}
    steps:
      - id: set-matrix
        run: echo "::set-output name=value::['1','2','3']"
  job2:
    needs: job1
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value: ${{fromJSON(needs.job1.outputs.matrix)}}
    steps:
      - run: echo "${{ matrix.value }}"
