# This is a basic workflow to help you get started with Actions

name: Publish To Artifactory

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  defaults:

    run:
      shell: bash

  Test:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - us
      - name: Run tests for all modules
        id: run-unit-tests
        run: |
          echo "RUNNING TESTS"
        with:
          dir_names: "true"
          files: |
            providers/*
      

  Publish:
    needs: Test
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      - name: Run changed-files with dir_names
        id: changed-files-dir-names
        uses: tj-actions/changed-files@v37
        with:
          dir_names: "true"
          files: |
            providers/*

#      - name: Run changed-files with dir_names
#        id: changed-files-dir-names-1
#        uses: tj-actions/changed-files@v37
#        with:
#          dir_names: "true"
#          files_ignore: |
#            .github/*
#            scripts/*

      - name: Publish updated modules
        run: |
          echo "BELOW ARE THE UPDATED MODULES"
          echo "-----------------------------"
          echo '${{ toJSON(steps.changed-files-dir-names.outputs.all_changed_files) }}'
          sh ${GITHUB_WORKSPACE}/scripts/publish-artifacts.sh ${{ steps.changed-files-dir-names.outputs.all_changed_files }}
          
