# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      # Example 1
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v37
        with:
          files_ignore: .github/*

      - name: Run changed-files with dir_names
        id: changed-files-dir-names
        uses: tj-actions/changed-files@v37
        with:
          dir_names: "true"
          files_ignore: |
            .github/*
            providers/aws/modules/my-module*
            scripts/*

        # NOTE: `since_last_remote_commit: true` is implied by default and falls back to the previous local commit.

      - name: List all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed"
          done

      - name: List all changed directories
        run: |
          pwd
          echo "CHANGED MODULES"
          echo '${{ toJSON(steps.changed-files-dir-names.outputs.all_changed_files) }}'
          sh ${GITHUB_WORKSPACE}/scripts/publish-versions.sh ${{ steps.changed-files-dir-names.outputs.all_changed_files }}
          for directory in ${{ steps.changed-files-dir-names.outputs.all_changed_files }}; do
            echo "FILES UPDATED in $directory"
          done
