# This is a basic workflow to help you get started with Actions

name: Publish To Artifactory

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Run tests for all modules
        id: run-unit-tests
        run: |
          echo "RUNNING TESTS"
              

  Publish:
#    needs: Test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      - name: Identify updated modules
        id: identify-updated-modules
        uses: tj-actions/changed-files@v37
        with:
          dir_names: "true"
          files: |
            providers/*

      - name: Publish updated modules
        run: |
          apt-get install jq
          echo "BELOW ARE THE UPDATED MODULES"
          echo "-----------------------------"
          sh ${GITHUB_WORKSPACE}/scripts/publish-artifacts.sh ${{ steps.identify-updated-modules.outputs.all_changed_files }}

#          echo '${{ toJSON(steps.identify-updated-modules.outputs.all_changed_files) }}'
